<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <% if show_link %>
          <%= link_to book.title, book %>
        <% else %>
          <%= book.title %>
        <% end %>
      </p>
      <p>Price:$ <%=  book.price %></p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        Quantity: <br><%= book.quantity %>
      </p>
      <p class="card-footer-item">
        Description: <br><%= book.description %>
      </p>
      <p class="card-footer-item">
        author: <br><%= book.author %>
      </p>
    </footer>
  </div>
   <% if book.image.present?%>
   <div class="card-image">
   <figure class="image">
   <%= image_tag book.image%>
   </figure>
   </div>
   <%else%>
    <p>No image for this book yet!</p>
   <%end%>
</div>